@import "../../styles/index.scss";

.signup {
  max-width: 600px;
  > form {
    > div {
      width: 100%;
      margin-bottom: $medium;
      position: relative;
      > img {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 35px;
        margin-right: 10px;
        opacity: 50%;
        cursor: pointer;
        // border: 2px solid red;
        z-index: 999;
        width: auto;
      }
      > label {
        margin-bottom: $Xsmall;
      }
      > input {
        margin-bottom: 0;
      }
      > div {
        @include flex(row, flex-start, flex-start);

        > small {
          opacity: $opacity;
          @include flex(row, flex-end, center);
          > img {
            margin: 0;
            width: auto;
            opacity: 50%;
            margin-right: $small;
          }
        }
      }
      > .verifyInput {
        gap: $large;
        margin-top: $small;
      }
    }
    > button {
      margin-bottom: $medium;
      margin-top: $medium;
    }
  }
  > button {
    width: 100%;
  }
  > h2 {
    align-self: flex-start;
  }
  > p {
    align-self: flex-start;
  }
}
