@import "../../styles/index.scss";

.services {
    @include flex(row, center, center);
    gap: $medium;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 160px;
    background-color: green;
    padding: $medium;
    border-radius: $small;
}

.card:hover {
    opacity: $opacity;
    cursor: pointer;
}