@import "../../styles/index.scss";

.overlayContainer {
  width: 90%;
  background-color: #eeeeee;
  border-radius: $borderRadiusLarge;
  position: absolute;
  top: 2%;
  z-index: 9999999;
  color: black;
}

.overlayWrapper {
  margin: 0 auto;
  padding: $large;
  text-align: center;
  > h2,
  button {
    margin: $medium 0;
  }
  > .categoryIcon {
    width: 120px;
  }
  > .closeBTN {
    float: right !important;
  }
}
