@import "../../styles/index.scss";

.leaderBoard {
  @include flex(row, space-around, center);
  flex-wrap: wrap;
  gap: $medium;
  width: 100%;
  max-width: 500px;
  text-shadow: $textShadow;
  > .myPlace {
    > p {
      font-size: 3rem;
      text-align: center;
    }
  }
  > .topPlace ol {
    > li {
      list-style-position: inside;
    }
  }
}
