:root {
  --font: "Poppins", serif;
  --fontSizeHeader: 2rem;
  --fontSizeSubheader: 1.25rem;
  --fontSizeP: 1rem;
  --fontSizeSmall: 0.75rem;
  --letterSpacing: normal;
  --wordSpacing: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: rgb(36, 36, 36);
  background-image: url(/src/assets//background/pexels-matthew-leland-822528.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  font-family: var(--font);
  letter-spacing: var(--letterSpacing);
  word-spacing: var(--wordSpacing);
}

button {
  letter-spacing: var(--letterSpacing);
  word-spacing: var(--wordSpacing);
}

.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  background-color: transparent !important;
}

main {
  padding: 4rem;
  gap: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80dvh;
  max-width: 1200px;
  margin: 0 auto;
}
main > section {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  width: 80%;
}

button {
  border-radius: 10px;
  border: none;
  padding: 0.5rem;
  background-color: #353535;
  color: #eeeeee;
  width: 125px;
  font-size: 1rem;
}
button:hover {
  background-color: #292929;
  opacity: 100%;
  cursor: pointer;
}
.primarybtn {
  background-color: #08594a;
}
.primarybtn:hover {
  background-color: #063c32;
}

h1,
h2 {
  font-size: var(--fontSizeHeader);
  font-weight: 700;
}

h3,
h4 {
  font-size: var(--fontSizeSubheader);
  font-weight: 700;
}

p {
  font-size: var(--fontSizeP);
}

small {
  font-size: var(--fontSizeSmall);
}

strong {
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
form button {
  width: 100%;
}
form button:disabled {
  opacity: 50%;
}

input {
  width: 100%;
  margin-bottom: 1rem;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #353535;
}

::-webkit-scrollbar {
  background: #353535;
  width: 12.5px;
}

::-webkit-scrollbar-thumb {
  background: #08594a;
  border-radius: 10px;
}

.score {
  transition: color 0.75s ease-out;
}
.score.increase {
  color: rgb(91, 236, 91);
}
.score.decrease {
  color: rgb(255, 116, 97);
}

.categoriesSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  background-color: transparent;
  color: black;
  width: 25%;
}
.categories:hover {
  background-color: transparent;
}
.categories > .active {
  opacity: 100%;
  transition: transform 0.25s ease-in-out;
}
.categories > .active:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.categories > .comingSoon {
  position: absolute;
  top: 0;
  left: 25%;
  width: 135px;
  transform: rotate(20deg);
  background-color: #08594a;
  color: #eeeeee;
  padding: 0.15rem 0.5rem;
  border-radius: 10px;
  opacity: 100%;
}
.categories > p {
  margin: 0;
  padding: 0;
}
.categories > img {
  width: 125px;
  margin: 0;
  opacity: 50%;
}/*# sourceMappingURL=categories.module.css.map */