@import "../../styles/index.scss";

.categoriesSection {
  > .categoriesContainer {
    @include flex(row, center, center);
    flex-wrap: wrap;
    gap: $large;
  }
}
.categories {
  @include flex(column, center, center);
  gap: $small;
  position: relative;
  background-color: transparent;
  min-width: 175px;
  &:hover {
    background-color: transparent;
  }
  > .active {
    opacity: 100%;
    transition: transform 0.25s ease-in-out;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
  > .comingSoon {
    position: absolute;
    top: 0;
    left: 25%;
    width: 135px;
    transform: rotate(20deg);
    padding: $XXsmall $small;
    border-radius: $borderRadiusSmall;
    opacity: 1; // Corrected opacity value
  }
  > .color1 {
    background-color: rgb(244, 255, 88);
  }
  > .color2 {
    background-color: rgb(250, 93, 93);
  }
  > .color3 {
    background-color: rgb(119, 246, 255);
  }
  > .color4 {
    background-color: rgb(205, 118, 255);
  }
  > .color5 {
    background-color: rgb(127, 253, 123);
  }
  > .available {
    opacity: 100%;
    cursor: pointer;
  }
  > p {
    margin: 0;
    padding: 0;
    opacity: 50%;
    cursor: initial;
  }
  > small {
    cursor: initial;
    opacity: 50%;
  }
  > img {
    cursor: initial;
    width: 125px;
    margin: 0;
    opacity: 25%;
  }
}

@media screen and (max-width: 985px) {
  .categories {
    min-width: 125px;
    > img {
      width: 80px;
      margin: 0;
      opacity: $opacity;
    }

    > .comingSoon {
      left: 5%;
      width: 125px;
      transform: rotate(10deg);
    }
  }
}
