main {
  background-color: rgb(146, 146, 209);
  border: 2px solid red;
  @include flex(row, center, center);
  height: 100dvh;
  > section {
    @include glass();
    padding: $large;
    border: 3px rgb(255, 0, 200) solid;
  }
}

.header {
  color: orange;
  font-size: 24px;
}

button {
  border-radius: 6px;
  border: none;
  padding: $small;
}

// h1 h3 h3 h4

// p

// small

// strong

// button

// @include button(small, secondary)
