body {
  background-color: rgb(164, 252, 186);
}

main {
  background-color: rgb(146, 146, 209);
  border: 2px solid red;
  @include flex(row, center, center);
  height: 100dvh;
  > section {
    @include glass();
    padding: $large;
    border: 3px rgb(255, 0, 200) solid;
  }
}

button {
  border-radius: 6px;
  border: none;
  padding: $small;
  background-color: $secondary;
}

// h1 h3 h3 h4

p {
  font-size: 1rem;
}

small {
  font-size: 0.75rem;
}

strong {
  font-weight: 700;
}

// @include button(small, secondary)
