body {
  background-color: rgb(36, 36, 36);
}

main {
  background-color: rgb(146, 146, 209);
  padding: $XLarge;
  gap: $XLarge;
  @include flex(column, center, center);
  min-height: 80dvh;
  > section {
    @include glass();
    padding: $large;
  }
}

button {
  border-radius: 6px;
  border: none;
  padding: $small;
  background-color: $secondary;
  color: $white;
  &:hover {
    opacity: $opacity;
  }
}

.primarybtn {
  font-weight: 700;
  background-color: $primary;
}

// h1 h3 h3 h4

p {
  font-size: 1rem;
}

small {
  font-size: 0.75rem;
}

strong {
  font-weight: 700;
}

// @include button(small, secondary)
