// Fonts

// Colors
$primary: #08594a;
$primaryHover: #063C32;
$primaryInactive: #409B8A;
$secondary: #4f4f4f;
$secondaryHover: #3C3C3C;
$secondaryInactive:#868585;
$white: #eeeeee;
$opacity: 50%;

// Spacing
$XXsmall: 0.15rem;
$Xsmall: 0.25rem;
$small: 0.5rem;
$medium: 1rem;
$large: 2rem;
$XLarge: 4rem;
$XXLarge: 6rem;

// Borders and shadows
$borderRadiusLarge: 20px;
$borderRadiusSmall: 10px;

// Mixins
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin glass() {
  background: rgba(255, 255, 255, 0.31);
  border-radius: $borderRadiusLarge;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(9.4px);
}
