@import "./variables";
@import "./reset";
@import "./globals";

.test-section {
  @include flex(column, flex-start, center);
  flex-wrap: wrap;
  > div {
    @include flex(row, flex-start, center);
    flex-wrap: wrap;
    gap: $medium;
  }
  > .primary-buttons {
    > button {
      background-color: $primary;
      font-weight: 700;
    }
  }
}

.opt1:hover {
  border: 2px solid rgb(0, 0, 0);
}
.opt2:hover {
  background-color: rgb(44, 44, 44);
}
.opt:hover {
  background-color: #2e4e48 !important;
}
.opt3:hover {
  font-size: 1.1rem;
}
.opt4:hover {
  transform: scale(1.1);
}
.opt5:hover {
  transform: rotate(2.5deg);
}
