@import "../../styles/index.scss";

.about {
  gap: $medium;
  h2 {
    text-shadow: $textShadow;
  }
  > div {
    max-width: 650px;
    background-color: $white;
    padding: $medium;
    border-radius: $borderRadiusSmall;
    color: black;
  }
}
