@import "../../styles/index.scss";

.quiz {
  @include flex(column, flex-start, center);
  > .quizCategory {
    @include flex(row, flex-start, center);
    gap: $large;
    width: 100%;
    > img {
      width: 85px;
      margin: 0;
    }
  }
  > button {
    background-color: transparent;
    color: black;
    width: auto;
    align-self: flex-start;
  }
}
