@import "../../styles/index.scss";

header {
  @include glass();
  border-radius: 0;
  width: 100vw;
  > div {
    @include flex(row, space-between, center);
    padding: $medium;
    margin: 0 auto;
    max-width: 1280px;
    > h2 {
      color: $primary;
      cursor: pointer;
    }
    > div {
      > button {
        color: $white;
      }
      > :first-child {
        margin-right: $medium;
      }
    }
  }
}
