@import "../../styles/index.scss";

header {
  @include glass();
  border-radius: 0;
  width: 100dvw;
  background: rgba(0, 0, 0, 0.31);
  > div {
    @include flex(row, space-between, center);
    padding: $medium;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    > button {
      color: $primary;
      cursor: pointer;
      background-color: transparent;
      font-size: 1.5rem;
      font-weight: 700;
      &:hover {
        background-color: transparent;
      }
    }
    > div {
      > button {
        color: $white;
      }
      > :first-child {
        margin-right: $medium;
      }
    }
  }
}
