@import "../../styles/index.scss";

header {
  @include glass();
  border-radius: 0;
  min-width: 100vw;
  > div {
    @include flex(row, space-between, center);
    padding: $medium 6rem $medium 6rem;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    > button {
      color: $primary;
      cursor: pointer;
      background-color: transparent;
      font-size: 1.5rem;
      font-weight: 700;
      &:hover {
        background-color: transparent;
      }
    }
    > div {
      > button {
        color: $white;
      }
      > :first-child {
        margin-right: $medium;
      }
    }
  }
}

.drawer {
  height: 100%;
  padding: $XLarge;
  @include glass();
  border-radius: 0;
  > ul {
    list-style: none;
    @include flex(column, flex-start, flex-start);
    gap: $large;
    > li {
      cursor: pointer;
      @include flex(row, center, center);
      gap: $Xsmall;
      padding: $small;
      border: 2px solid transparent;
      > img {
        width: 25px;
        padding: 0;
        margin: 0;
        > svg > path {
          stroke: $white;
        }
      }
      > button {
        background-color: transparent;
        width: auto;
        font-weight: 700;
        color: $white;
      }
      &:hover {
        border: 2px solid $white;
        border-radius: $borderRadiusSmall;
      }
    }
  }
}
