@import "../../styles/index.scss";

.intro {
  @include flex(column, center, center);
  gap: $medium;
  > div:first-child {
    @include flex(column, center, center);
    width: 80%;
    > .container {
      @include flex(column, center, center);
      background-color: $white;
      border-radius: $large;
      width: 100%;
      padding: 0 0 $medium 0;
      > img {
        width: 100%;
        border-radius: $large $large 0 0;
        margin-bottom: $medium;
      }
    }
  }
  > button {
    width: 100%;
  }
  .circles {
    @include flex(row, center, center);
    gap: $medium;
    margin: 2.5% 0% 5% 0%;
    > button {
      border-radius: 50%;
      height: 25px;
      width: 25px;
      background-color: $secondary;
      opacity: $opacity;
    }
    > .active {
      opacity: 100%;
    }
  }
}
