@import "../../styles/index.scss";

.intro {
  @include flex(column, center, center);
  gap: $medium;
  text-align: center;
  max-width: 95vw;
  width: 750px;
  > div:first-child {
    @include flex(column, center, center);
    max-width: 80%;
    > .container {
      margin-top: 2.5%;
      @include flex(column, center, center);
      background-color: $white;
      border-radius: $large;
      width: 100%;
      gap: $small;
      padding: $medium;
      color: black;
      text-shadow:none;

      > img {
        max-width: 100%;
        max-height: 200px;
        width: auto;
        height: auto;
        border-radius: $large $large 0 0;
        margin-bottom: 1%;
      }
    }
  }
  > button {
    width: 100%;
  }
  .circles {
    @include flex(row, center, center);
    gap: $medium;
    margin: 0.5% 0% 1.5% 0%;
    > button {
      border-radius: 50%;
      width: 15px;
      background-color: $secondary;
      opacity: $opacity;
      height: 15px;
    }
    > .active {
      opacity: 100%;
    }
  }
}
h1 {
  color: black;
}
