@import "../../styles/index.scss";

footer {
  @include glass();
  border-radius: 0;
  width: 100vw;
  background: rgba(0, 0, 0, 0.31);
  > div {
    @include flex(row, space-between, center);
    padding: $medium;
    margin: 0 auto;
    max-width: 1200px;
    > h2 {
      color: $primary;
      cursor: pointer;
    }
    > ul {
      list-style: none;
      > li {
        text-decoration: underline;
        padding: $Xsmall;
        cursor: pointer;
        color: $white;
      }
    }
  }
}
