@import "../../styles/index.scss";

footer {
  @include flex(row, space-between, center);
  padding: $medium;
  @include glass();
  border-radius: 0;
  > h2 {
    color: $primary;
    cursor: pointer;
  }
  > ul {
    > li {
      text-decoration: underline;
      padding: $Xsmall;
      cursor: pointer;
      color: $white;
    }
  }
}
