@import "../../styles/index.scss";

.question {
  background-color: $white;
  border-radius: $borderRadiusSmall;
  padding: $medium;
  gap: $medium;
  @include flex(column, flex-start, flex-start);
  > h3 {
    align-self: flex-start;
  }
  > p {
    margin-bottom: $large;
  }
  > div {
    @include flex(row, flex-start, center);
    gap: $small;
    flex-wrap: wrap;
    width: 100%;
    > button {
      width: 100%;
      &:hover {
        background-color: $primary;
        opacity: 100%;
      }
    }
  }
  > .feedback {
    @include flex(row, flex-start, flex-start);
    gap: $large;
    > img {
      width: 200px;
      margin: 0;
      border-radius: $borderRadiusSmall;
    }
    > p {
      width: 50%;
    }
  }
  .nextQuestion {
    align-self: flex-end;
    width: 125px;
  }
  > .endQuiz {
    @include flex(column, center, center);
  }
}
