@import url("https://fonts.googleapis.com/css2?family=Preahvihear&display=swap");
:root {
  --font: "Poppins", serif;
  --fontSizeHeader: 2rem;
  --fontSizeSubheader: 1.25rem;
  --fontSizeP: 1rem;
  --fontSizeSmall: 0.75rem;
  --letterSpacing: normal;
  --wordSpacing: normal;
  --backgroundImage: url(/src/assets//background/pexels-matthew-leland-822528.jpg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: rgb(36, 36, 36);
  background-image: url(/src/assets/background/woods-min_1.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100vw;
  background-attachment: fixed;
  overflow-x: hidden;
  font-family: var(--font);
  letter-spacing: var(--letterSpacing);
  word-spacing: var(--wordSpacing);
  color: #eeeeee;
}

button {
  letter-spacing: var(--letterSpacing);
  word-spacing: var(--wordSpacing);
}

.css-1160xiw-MuiPaper-root-MuiDrawer-paper,
.css-1ab2xsx {
  background-color: transparent !important;
}

main {
  padding: 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80dvh;
  max-width: 1200px;
  margin: 0 auto;
}
main > section {
  background: rgba(0, 0, 0, 0);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  width: 80%;
}

button {
  border-radius: 10px;
  border: none;
  padding: 0.5rem;
  background-color: #353535;
  color: #eeeeee;
  width: 125px;
  font-size: 1rem;
}
button:hover {
  opacity: 100%;
  cursor: pointer;
}
.primarybtn {
  background-color: #08594a;
}
.primarybtn:hover {
  background-color: #063c32;
}

h1,
h2 {
  font-family: "Preahvihear", sans-serif;
  font-size: var(--fontSizeHeader);
}

h2 {
  margin: 0.5rem 0;
}

h3,
h4 {
  font-size: var(--fontSizeSubheader);
  font-weight: 700;
}

p {
  font-size: var(--fontSizeP);
}

small {
  font-size: var(--fontSizeSmall);
}

strong {
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
form button {
  width: 100%;
}
form button:disabled {
  opacity: 50%;
}

input {
  width: 100%;
  margin-bottom: 1rem;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #353535;
}

::-webkit-scrollbar {
  background: #353535;
  width: 12.5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(173, 173, 173);
  border-radius: 10px;
}

.score {
  transition: color 1s ease-out;
}
.score.increase {
  color: rgb(114, 255, 114);
}
.score.decrease {
  color: rgb(255, 116, 97);
}

@media screen and (max-width: 710px) {
  main {
    padding: 1rem;
    gap: 2rem;
    min-height: 80dvh;
    max-width: 100vw;
  }
  main > section {
    gap: 1rem;
    padding: 1rem;
    width: 95%;
  }
}
.question {
  background-color: #eeeeee;
  border-radius: 10px;
  padding: 1rem;
  max-width: 95%;
  color: black;
}
.question > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.question > div > .top_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.question > div > div > audio {
  width: 100%;
}
.question > div > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  width: 100%;
}
.question > div > div > button {
  width: 100%;
}
.question > div > .feedback {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}
.question > div > .feedback > img {
  width: 300px;
  margin: 0;
  border-radius: 10px;
}
.question > div > .feedback > div {
  width: 50%;
}
.question > div > .feedback > div > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}
.question > div > .feedback > .source {
  width: 100%;
}
.question .nextQuestion {
  align-self: flex-end;
  width: 125px;
}
.question > .endQuiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.question > .endQuiz > img {
  width: 90%;
  border-radius: 10px;
}
.question > .endQuiz > button {
  width: 100%;
}

.thisQuestion {
  font-weight: bold;
  font-size: 1.25rem;
}

@media screen and (max-width: 985px) {
  .question > div {
    gap: 0.5rem;
  }
  .question > div > .top_section {
    margin-bottom: 1rem;
  }
  .question > div > div {
    gap: 0.5rem;
    flex-wrap: wrap;
    width: 100%;
  }
  .question > div > div > button {
    width: 100%;
  }
  .question > div > .feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .question > div > .feedback > img {
    width: 50%;
  }
  .question > div > .feedback > div {
    width: 100%;
  }
  .question .nextQuestion {
    align-self: flex-end;
    width: 100%;
    margin-top: 2rem;
  }
  .question > .endQuiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .question > .endQuiz > img {
    width: 90%;
    border-radius: 10px;
  }
  .question > .endQuiz > button {
    width: 100%;
  }
}/*# sourceMappingURL=questions.module.css.map */