:root {
  --font: "Poppins", serif;
  --fontSizeHeader: 2rem;
  --fontSizeSubheader: 1.25rem;
  --fontSizeP: 1rem;
  --fontSizeSmall: 0.75rem;
  --letterSpacing: normal;
  --wordSpacing: normal;
  --backgroundImage: url(/src/assets//background/pexels-matthew-leland-822528.jpg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: rgb(36, 36, 36);
  background-image: var(--backgroundImage);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  font-family: var(--font);
  letter-spacing: var(--letterSpacing);
  word-spacing: var(--wordSpacing);
}

button {
  letter-spacing: var(--letterSpacing);
  word-spacing: var(--wordSpacing);
}

.css-1160xiw-MuiPaper-root-MuiDrawer-paper,
.css-1ab2xsx {
  background-color: transparent !important;
}

main {
  padding: 4rem;
  gap: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80dvh;
  max-width: 1200px;
  margin: 0 auto;
}
main > section {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  width: 80%;
}

button {
  border-radius: 10px;
  border: none;
  padding: 0.5rem;
  background-color: #353535;
  color: #eeeeee;
  width: 125px;
  font-size: 1rem;
}
button:hover {
  background-color: #292929;
  opacity: 100%;
  cursor: pointer;
}
.primarybtn {
  background-color: #08594a;
}
.primarybtn:hover {
  background-color: #063c32;
}

h1,
h2 {
  font-size: var(--fontSizeHeader);
  font-weight: 700;
}

h3,
h4 {
  font-size: var(--fontSizeSubheader);
  font-weight: 700;
}

p {
  font-size: var(--fontSizeP);
}

small {
  font-size: var(--fontSizeSmall);
}

strong {
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
form button {
  width: 100%;
}
form button:disabled {
  opacity: 50%;
}

input {
  width: 100%;
  margin-bottom: 1rem;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #353535;
}

::-webkit-scrollbar {
  background: #353535;
  width: 12.5px;
}

::-webkit-scrollbar-thumb {
  background: #08594a;
  border-radius: 10px;
}

.score {
  transition: color 1s ease-out;
}
.score.increase {
  color: rgb(114, 255, 114);
}
.score.decrease {
  color: rgb(255, 116, 97);
}

.settingsSection {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.55);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 2rem;
  min-height: 700px;
}
.settingsSection > button {
  align-self: flex-end;
}
.settingsSection > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.settingsSection > div > div > .fontSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 5%;
}
.settingsSection > div > div > .fontSection > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  width: 45%;
  min-width: 300px;
}
.settingsSection > div > div > .fontSection > div > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}
.settingsSection > div > div > .fontSection > div > div > p {
  margin: 0;
}
.settingsSection > div > div > .fontSection > div > div > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.settingsSection > div > div > .fontSection > div > div > div > button {
  opacity: 50%;
  border-radius: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.settingsSection > div > div > .fontSection > .test {
  gap: 0.5rem;
  background-color: #eeeeee;
  padding: 1rem;
  border-radius: 10px;
}
.settingsSection > div > div > .fontSection > .test > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
}
.settingsSection > div > div > .fontSection > .test > div > button {
  width: 45%;
}
.settingsSection > div > .toggle {
  border-radius: 50px;
  display: flex;
  min-width: 75%;
  height: 80px;
  width: auto;
  position: relative;
  margin: 0 auto;
  background-color: #444444;
}
.settingsSection > div > .toggle > button {
  width: 50%;
  border-radius: 50px;
  font-size: 18px;
  background-color: transparent;
  z-index: 1;
}
.settingsSection .slideBackground {
  position: absolute;
  background-color: #353535;
  border-radius: 50px;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 0;
  transition: transform 0.3s ease;
}
.settingsSection .slideBackground.font {
  transform: translateX(0%);
}
.settingsSection .slideBackground.profile {
  transform: translateX(100%);
}

.active {
  opacity: 100% !important;
}

.settingsProfile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 5%;
}
.settingsProfile > * {
  width: 45%;
  min-width: 300px;
}
.settingsProfile > form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}
.settingsProfile > form > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.settingsProfile > form > div > input {
  min-width: 200px;
}
.settingsProfile > form > div > input::-moz-placeholder {
  color: rgb(37, 37, 37);
}
.settingsProfile > form > div > input::placeholder {
  color: rgb(37, 37, 37);
}
.settingsProfile > form > button {
  width: 275px;
}
.settingsProfile > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  width: 50%;
}
.settingsProfile > div > div {
  margin-bottom: 2rem;
}/*# sourceMappingURL=settings.module.css.map */